name: GHA Experiment
on: push
jobs:
  experiment:
    name: Run the experiment
    runs-on: ubuntu-latest
    steps:
        uses: actions/checkout@v2
      - name: Run test suit
        uses: action-rs/toolchain@v1
        with:
          toolchain: stable
        uses: action-rs/cargo@v1
        with:
          command: test